<h2 class="title">User info</h2>
<%= form_for(@user) do |f| %>
<%= render 'layouts/error_messages_user' %>
<p>Name</p>
<%= f.text_field :name %>
<p>Image</p>
<%= f.attachment_field :profile_image %>
<p>Introduction</p>
<%= f.text_area :introduction %>

<p><%= f.submit "Update User" %></p>

<% end %>