<%= render 'layouts/sidebar', book: @book, user: @user %>
<div class="col-md-9">
	<div class="book-detail">
		<h2 class="title">Book detail</h2>
		<table class="table">
			<tbody>
				<tr class="book-contents">
					<td>
						<%= attachment_image_tag @book_detail.user, :profile_image, :fill, 50, 50, fallback: "no_image2.jpg" %>
						<p><%= link_to "#{@book_detail.user.name}", user_path(@book_detail.user) %></p>
					</td>
					<td>
						<%= link_to "#{@book_detail.title}", book_path(@book_detail) %>
					</td>
					<td>
						<%= @book_detail.body %>
					</td>
					<% if @book_detail.user == current_user %>
						<td>
							<%= link_to edit_book_path(@book_detail) do %>
							<button type="button" class="btn btn-success btn-sm active">Edit</button>
							<% end %>
						</td>
						<td>
							<%= link_to book_path(@book_detail), method: :delete, "data-confirm" => "本当に消しますか？" do %>
							<button type="button" class="btn btn-danger btn-sm active" role="button">Destroy</button>
							<% end %>
						</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>

