<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Bookers</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                 <% if user_signed_in? %>
                   <li class="nav-item">
                     <%= link_to user_path(current_user.id) do %>
                     <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                     Home
                     <% end %>
                   </li>
                   <li class="nav-item">
                     <%= link_to users_path do %>
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     Users
                     <% end %>
                   </li>
                   <li class="nav-item">
                     <%= link_to books_path do %>
                     <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                     Books
                     <% end %>
                   </li>
                   <li class="nav-item">
                     <%= link_to destroy_user_session_path, method: :delete do %>
                     <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                     logout
                     <% end %>
                   </li>
                 <% else %>
                   <li class="nav-item">
                     <%= link_to root_path do %>
                     <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                     Home
                     <% end %>
                    </li>
                    <li class="nav-item">
                     <%= link_to home_about_path do %>
                     <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                     About
                     <% end %>
                   </li>
                   <li class="nav-item">
                     <%= link_to new_user_registration_path do %>
                     <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                     sign up
                     <% end %>
                   </li>
                   <li class="nav-item">
                     <%= link_to user_session_path do %>
                     <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                     login
                     <% end %>
                   </li>
                 <% end %>
              </ul>
            </div>
          </nav>
    </header><!-- /header -->
    <div class="container">
      <% if flash[:notice] %>
        <div class="flash">
           <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="row">
        <%= yield %>
      </div>
      <p class="footer-message" align="right">CopyRight Infratop.inc</p>
    </div>
    <footer>
    </footer>
  </body>
</html>
